# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build/

cpr/

.cache/

# Ignore all files/folders in the subprojects folder instead .wrap files
subprojects/*
!subprojects/*.wrap
!subprojects/libfastsignals
!subprojects/rocket
